body {
    margin: 0px;
}
header {
    background: #45486e;
    padding: 10px;
}
main {
    margin: 0 auto;
    width: 500px;
    text-align: center;
    font-size: 2rem;
}
.links {
    color: whitesmoke;
}
